body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-app {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 100px;
  border: 2px solid rgb(91, 131, 133);
  border-radius: 10px;
}

.counter-wrapper,
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-wrapper {
  font-size: 20px;
}

#value {
  background-color: rgb(91, 131, 133);
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 4px;
}

.actions button {
  width: 50px;
  margin: 0 20px;
  padding: 20px 50px;
  border-radius: 4px;
  background-color: rgb(91, 131, 133);
  outline: none;
  border: 0;
  color: white;
}
